body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

ul, ol {
	list-style-type: none;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 117%;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-black {
    color: #2e2f42;
}

.main-btn {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5
}

.main-btn:hover {
    background: #404BBF;
}

.main-btn:focus {
    background-color: #404BBF;
}

.head-list .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.head-list .link:hover {
    color: #404bbf;
}

.head-list .link:focus {
    color: #404bbf;
}

.adr-contacts-mail-tel {
    font-style: normal;
}

.adr-contacts-mail-tel .link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.adr-contacts-mail-tel .link:hover {
    color: #404bbf;
}

.adr-contacts-mail-tel .link:focus {
    color: #404bbf;
}

.team-info {
    background: #f4f4fd;
}

.portfolio-info .portfolio-head-text {
    visibility: hidden;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-info .team-info-blocks .info-block {
    background: #fff;
}

.foot {
    background: #2e2f42;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 117%;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f4f4fd;
    letter-spacing: 0.02em
}

.main-title {
    background: #2e2f42;
    text-align: center;
}

.main-title .title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    color: #fff;
    letter-spacing: 0.02em
}

.portfolio-padding {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-padding {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.apps-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.apps-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.apps-padding {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}